<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
     <div class="img"></div>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

      <li><a  routerLink="/" class="nav-link px-2 link-secondary">Asesor</a></li>
      <li><a  routerLink="/dashboard/polizas" class="nav-link px-2 link-dark">Seguros</a></li>
      <li><a  routerLink="/dashboard/ofertas"class="nav-link px-2 link-dark">Ofertas</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
    </ul>

    <div class="col-md-3 text-end">

      <button style="background-color: #7559D9; border: #7559D9;" type="button" class="btn btn-danger">Log-out</button>
    </div>
  </header>
</div>
